[core]
    editor = vim
[user]
    name = Daniil Churikov
    email = ddosia@gmail.com
[github]
    user = ddosia
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[merge]
    tool = meld
[alias]
    glog = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[pull]
	ff = only
