[core]
    editor = vim
[user]
    name = Daniil Churikov
    email = ddosia@gmail.com
[github]
    user = ddosia
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[merge]
    tool = vimdiff
[alias]
    glog = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    # *********************
    # Github
    # From - https://salferrarello.com/git-alias-open-pull-request-github/
    pr = "!f() { \
       open \"$(git ls-remote --get-url $(git config --get branch.$(git rev-parse --abbrev-ref HEAD).remote) \
       | sed 's|git@github.com:\\(.*\\)$|https://github.com/\\1|' \
       | sed 's|\\.git$||'; \
       )/compare/$(\
       git config --get branch.$(git rev-parse --abbrev-ref HEAD).merge | cut -d '/' -f 3- \
       )?expand=1\"; \
    }; f"
    hub = "!f() { \
       open \"$(git ls-remote --get-url \
       | sed 's|git@github.com:\\(.*\\)$|https://github.com/\\1|' \
       | sed 's|\\.git$||'; \
       )\"; \
    }; f"
[pull]
    ff = only
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
